!*.gitkeep
!data/raw/HFModelsDict.json
!data/raw/RAGTruth/.gitkeep

mistral_models/
data
tda4atd
tda_hallucinations_smiles
ripser-plusplus
cache/
*.pth
*.pkl
.ssh
**/__pycache__/

notes.md
outputs
.env
*/logs.txt

!*.gitkeep
!data/raw/HFModelsDict.json
!data/raw/RAGTruth/.gitkeep

haloscope/save_for_eval
**/multirun/
*.zip

MTopDiv
.vscode